<div class="container-fluid main-container">




<div id="header">




</div>


<script>
$(document).ready(function(){
    $('[tooltip="tooltip"]').tooltip();
});
</script>
<div id="checks-for-testpkgchecknotapkg-v0.0.0.9000" class="section level2">
<h2>Checks for <a href>testpkgchecknotapkg (v0.0.0.9000)</a></h2>
<p>git hash: <a href="/tree/"></a></p>
<ul>
<li>✅ Package name is available</li>
<li>❌ does not have a ‘CITATION’ file.</li>
<li>❌ does not have a ‘codemeta.json’ file.</li>
<li>❌ does not have a ‘contributing’ file.</li>
<li>✅ uses ‘roxygen2’.</li>
<li>❌ ‘DESCRIPTION’ does not have a URL field.</li>
<li>❌ ‘DESCRIPTION’ does not have a BugReports field.</li>
<li>❌ Package has no HTML vignettes</li>
<li>❌ These functions do not have examples: [test_fn].</li>
<li>❌ Continuous integration checks unavailable (no URL in ‘DESCRIPTION’).</li>
<li>❌ Statistical standards are missing</li>
<li>❌ This package still has TODO standards and can not be submitted</li>
</ul>
<p><strong>Important:</strong> All failing checks above must be addressed prior to proceeding</p>
<p>Package License: GPL-3</p>
<hr />
<div id="ropensci-statistical-standards-srr-package" class="section level3">
<h3>1. rOpenSci Statistical Standards (<a href="https://github.com/ropensci-review-tools/srr"><code>srr</code> package</a>)</h3>
<p>This package is in the following category:</p>
<ul>
<li><em>Regression and Supervised Learning</em></li>
</ul>
<p>❌ This package still has TODO standards and can not be submitted</p>
<p>Click to see the <a href="report.html">report of author-reported standards compliance of the package with links to associated lines of code</a>, which can be re-generated locally by running the <a href="https://docs.ropensci.org/srr/reference/srr_report.html"><code>srr_report()</code> function</a> from within a local clone of the repository.</p>
<hr />
</div>
<div id="statistical-properties" class="section level3">
<h3>2. Statistical Properties</h3>
<p>This package features some noteworthy statistical properties which may need to be clarified by a handling editor prior to progressing.</p>
<details>
<summary>Details of statistical properties (click to open)</summary>
<p>
<p>The package has:</p>
<ul>
<li>code in C++ (72% in 2 files) and R (28% in 4 files)</li>
<li>1 authors</li>
<li>no vignette</li>
<li>no internal data file</li>
<li>1 imported package</li>
<li>1 exported function (median 3 lines of code)</li>
<li>2 non-exported functions in R (median 3 lines of code)</li>
<li>2 R functions (median 5 lines of code)</li>
</ul>
<hr />
<p>Statistical properties of package structure as distributional percentiles in relation to all current CRAN packages The following terminology is used: - <code>loc</code> = “Lines of Code” - <code>fn</code> = “function” - <code>exp</code>/<code>not_exp</code> = exported / not exported</p>
<p>The final measure (<code>fn_call_network_size</code>) is the total number of calls between functions (in R), or more abstract relationships between code objects in other languages. Values are flagged as “noteworthy” when they lie in the upper or lower 5th percentile.</p>
<table>
<thead>
<tr class="header">
<th align="left">measure</th>
<th align="right">value</th>
<th align="right">percentile</th>
<th align="left">noteworthy</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Number of files in R directory">files_R</a></td>
<td align="right">4</td>
<td align="right">28.3</td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Number of files in src directory">files_src</a></td>
<td align="right">2</td>
<td align="right">79.1</td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Number of files in vignettes directory">files_vignettes</a></td>
<td align="right">0</td>
<td align="right">0.0</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Number of files in tests directory">files_tests</a></td>
<td align="right">2</td>
<td align="right">68.6</td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Lines of code (excluding documentation and empty lines) in R directory">loc_R</a></td>
<td align="right">10</td>
<td align="right">0.8</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Lines of code (excluding documentation and empty lines) in src directory">loc_src</a></td>
<td align="right">26</td>
<td align="right">4.0</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Lines of code (excluding documentation and empty lines) in tests directory">loc_tests</a></td>
<td align="right">6</td>
<td align="right">4.7</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Number of vignettes">num_vignettes</a></td>
<td align="right">0</td>
<td align="right">0.0</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Total number of exported and non-exported R functions">n_fns_r</a></td>
<td align="right">3</td>
<td align="right">2.5</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Total number of exported R functions">n_fns_r_exported</a></td>
<td align="right">1</td>
<td align="right">0.0</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Total number of non-exported R functions">n_fns_r_not_exported</a></td>
<td align="right">2</td>
<td align="right">2.7</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Total number of exported and non-exported src functions">n_fns_src</a></td>
<td align="right">2</td>
<td align="right">4.3</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Median number of functions per R source file">n_fns_per_file_r</a></td>
<td align="right">1</td>
<td align="right">0.2</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Median number of functions per src source file">n_fns_per_file_src</a></td>
<td align="right">1</td>
<td align="right">0.1</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Median number of parameters per exported R function">num_params_per_fn</a></td>
<td align="right">0</td>
<td align="right">0.0</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Median number of lines of code for each R function">loc_per_fn_r</a></td>
<td align="right">3</td>
<td align="right">1.1</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Median number of lines of code for each exported R function">loc_per_fn_r_exp</a></td>
<td align="right">3</td>
<td align="right">1.5</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Median number of lines of code for each non-exported R function">loc_per_fn_r_not_exp</a></td>
<td align="right">3</td>
<td align="right">1.5</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Median number of lines of code for each src function">loc_per_fn_src</a></td>
<td align="right">5</td>
<td align="right">5.0</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Relative proportion of white characters within each R code line">rel_whitespace_R</a></td>
<td align="right">40</td>
<td align="right">4.3</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Relative proportion of white characters within each src code line">rel_whitespace_src</a></td>
<td align="right">27</td>
<td align="right">5.8</td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Relative proportion of white characters within each test line">rel_whitespace_tests</a></td>
<td align="right">17</td>
<td align="right">2.4</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Median number of lines of documentation for each exported R function">doclines_per_fn_exp</a></td>
<td align="right">6</td>
<td align="right">0.8</td>
<td align="left">TRUE</td>
</tr>
<tr class="even">
<td align="left"><a tooltip="tooltip" title="Median number of lines of documentation for each non-exported R function">doclines_per_fn_not_exp</a></td>
<td align="right">0</td>
<td align="right">0.0</td>
<td align="left">TRUE</td>
</tr>
<tr class="odd">
<td align="left"><a tooltip="tooltip" title="Total number of calls from one package function to another">fn_call_network_size</a></td>
<td align="right">1</td>
<td align="right">11.4</td>
<td align="left"></td>
</tr>
</tbody>
</table>
<hr />
</p>
</details>
</div>
<div id="a.-network-visualisation" class="section level3">
<h3>2a. Network visualisation</h3>
<p>An interactive visualisation of calls between objects in the package has been uploaded as a workflow artefact. To view it, click on results from the <a href="network.html">latest ‘pkgcheck’ action</a>, scroll to the bottom, and click on the ‘visual-network’ artefact.</p>
<hr />
</div>
<div id="goodpractice-and-other-checks" class="section level3">
<h3>3. <code>goodpractice</code> and other checks</h3>
<p>(‘goodpractice’ not included with these checks)</p>
<hr />
<details>
<summary>Package Versions</summary>
<p>
<table>
<thead>
<tr class="header">
<th align="left">package</th>
<th align="left">version</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">pkgstats</td>
<td align="left">42</td>
</tr>
<tr class="even">
<td align="left">pkgcheck</td>
<td align="left">42</td>
</tr>
<tr class="odd">
<td align="left">srr</td>
<td align="left">42</td>
</tr>
</tbody>
</table>
</p>
</details>
</div>
</div>




</div>
